:root {
  --main-color: #66738b;
  --third-color: #dce3f0;
  --second-color: #eff2f7;
}
/* Start Global Element */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  font-family: "Ephesis", cursive;
  font-family: "Source Serif Pro", serif;
  direction: rtl;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/* End Global Element */
/* start section */
section .container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.box {
  color: #98a3b7;
  margin-top: 10px;
  padding: 20px;
  width: 400px;
  border: 1px solid var(--second-color);
}
h4 {
  font-size: 22px;
  margin-bottom: 60px;
  color: #333;
  border-bottom: 3px solid var(--second-color);
  width: 100%;
  text-align: center;
  padding-bottom: 10px;
}
section .container .box form input:not(:first-of-type),
input[type="submit"] {
  margin: 10px 0;
  width: 100%;
}
.one {
  position: relative;
}
input,
select {
  outline: none;
  background-color: var(--second-color);
  font-weight: bold;
  border: none;
  padding: 10px;
  border-radius: 5px;
  color: #98a3b7;
}
::placeholder {
  color: #98a3b7;
}
select {
  direction: ltr;
  width: 38%;
}
.one input {
  width: 60%;
}
.one span {
  position: absolute;
  top: 0px;
  left: 40px;
  font-size: 12px;
}
span {
  font-weight: bold;
  color: var(--main-color);
}
input[type="submit"] {
  background-color: var(--third-color);
  color: #98a3b7;
}
input[type="checkbox"] {
  padding: 10px;
  margin-bottom: 10px;
}
@media (max-width: 500px) {
  .box {
    font-size: 10px;
  }
  h4 {
    margin-bottom: 10px;
  }
}
.three {
  padding: 10px;
  text-align: left;
  font-size: 14px;
}
/* end section */
